<div class="col-md-3" title="{{ dropdown.title }}">
  <h5>{{ dropdown.heading }}</h5>
  <div class="btn-group full-width">
    <button type="button"
            class="btn btn-default dropdown-toggle full-width"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
      <div class="dropdown_selected pull-left"
           id="dropdown_selected_{{ dropdown.id }}">
        {{ view.dropdown_selected }}
      </div>
      <span class="caret pull-right"></span>
    </button>
    <ul class="dropdown-menu" style="z-index: 10000">
      {% for option in dropdown.options  %}
        <li>
          <a onclick="clickDropDown({{ dropdown.id }}, {{ forloop.counter0 }});"
             id="dropdown_{{ dropdown.id }}-option-{{ forloop.counter0 }}">
            {{ option }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>