{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>
      {% block title %}
        {% if view.title %}
          {# Managed properly by the view #}
          {{ view.title }}
        {% else %}
          {# By hand in the template #}
          {% block subtitle %}{% endblock subtitle%}
          {% block sitetitle %}FREQ{% endblock sitetitle%}
        {% endif %}
      {% endblock title %}
    </title>

    {% block css %}
      <link rel="stylesheet"
            href="{% static 'fonts/open-sans/open-sans.css' %}" />
      <link rel="stylesheet"
            href="{% static 'fonts/font-awesome/4.3.0/css/font-awesome.min.css' %}" />
      <link rel="stylesheet"
            href="{% static 'fonts/font-awesome/4.3.0/css/font-awesome.min.css' %}" />
      <link rel="stylesheet"
            href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.min.css' %}" />
      <link rel="stylesheet"
            href="{% static 'bootstrap-extras/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" />
      <link rel="stylesheet"
            href="{% static 'bootstrap-extras/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}" />
      <link rel="stylesheet" href="{% static 'freq/css/freq.css' %}" />
      <link rel="stylesheet"
            href="{% static 'ajax/libs/leaflet/0.7.3/leaflet.css' %}" />

      {% block chart_css %}
        <link rel="stylesheet" href="{% static 'nvd3/nv.d3.min.css' %}">
      {% endblock chart_css %}

      {% block extra_css %}
      {% endblock extra_css %}

    {% endblock css %}

  </head>

  <body>
    {% block header %}
      <header>
        <div id="logo-row" class="navbar">
          <div class="container">
            <div class="navbar-brand" id="logo">
              {% block logo %}
                {% spaceless %}
                  <a href="/" title='Back to homepage'>
                      <img class="logo" src="{% static 'freq/logo.png' %}"
                           alt="Lizard" />
                  </a>
                {% endspaceless %}
              {% endblock logo %}
            </div>
            <div class="navbar-header">
              <div class="navbar-brand" id="page-title">{{ view.title }}</div>
            </div>
            <ul class="nav navbar-nav pull-right">
              <li class="{{ view.map_active }}">
                <a href="{% url 'map_' %}" >
                  Map
                  <span class="glyphicon {{ view.map_icon_size }}
                               glyphicon-globe">
                  </span>
                </a>
              </li>
              <li class="{{ view.freq_active }}">
                <a href="{% url 'startpage' %}">
                  Freq
                  <span class="glyphicon {{ view.freq_icon_size }}
                               glyphicon-scale"> {# glyphicon-map-marker #}
                  </span>
                </a>
              </li>
              <li>
                <a href="https://ggmn.un-igrac.org/" target="_blank">
                  Lizard
                  <span class="glyphicon glyphicon-sm glyphicon-new-window">
                  </span>
                </a>
              </li>
              <li>
                <a href="/accounts/logout/">
                  Log out
                  <span class="glyphicon glyphicon-sm glyphicon-off"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </header>

      {% block nav %}
        <div class="container">
          <ul class="nav nav-tabs" role="tablist">
            {% for i, menu_title, tooltip, menu_url, menu_activation in view.menu %}
              <li role="presentation" class="{{ menu_activation }}" aria-controls="{{ menu_url }}">
                <a title="{{ tooltip }}"
                   {% if menu_activation == 'disabled' %}
                     href=''
                   {% else %}
                     href="{% url menu_url %}"
                   {% endif %}>
                <span id="tab-number-">{{ i }}</span>
                  {{ menu_title }}
                </a>
              </li>
            {% endfor %}
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            {% for _, _, tooltip, menu_url, menu_activation in view.menu %}
              <div role="tabpanel"
                   class="tab-pane {{ menu_activation }}"
                   id="{{ menu_url }}">
              </div>
            {% endfor %}
          </div>
        </div>
      {% endblock nav %}

    {% endblock header %}

    {% block body %}
      </br>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="row" >
              <h2 id="measurement_point">{{ view.measurement_point }}
                  <a
                    class="glyphicon glyphicon-trash pull-right"
                    href="{% url 'restart' %}"></a>
{#                  <a#}
{#                    href="{% url view.active %}?redo=1"#}
{#                    class="glyphicon glyphicon-share-alt pull-right"></a>#}
{#                  <a#}
{#                    href="{% url view.active %}?undo=1"#}
{#                    class="glyphicon glyphicon-share-alt icon-flipped#}
{#                    pull-right"></a>#}
              </h2>
            </div><!-- /row -->
            <div class="row">
              <div class="well explainer">
                {% block well %}{% endblock well %}
              </div><!-- /well -->
            </div><!-- /row -->
          </div><!-- /col -->
          <div class="col-md-4">
            <div class="row map-row">
              {% if view.multiple_timeseries %}
                <div class="dropdown" style="width:100%;">
                  <button class="btn btn-default dropdown-toggle"
                          type="button" id="dropdownMenu1"
                          data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="true" style="width:100%;
                          text-align:left;">
                    Select timeseries...
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    {% for option_name, option_uuid, option_start, option_end in view.timeseries_selection %}
                      <li>
                        <a href="{% url 'timeseries_by_uuid' uuid=option_uuid %}?name={{ option_name }}&start={{ option_start }}&end={{ option_end }}">
                          {{ option_name }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
              <div id="map" class="pull-down"></div>
              <div id="error-well" class="well well-sm {{ view.show_error }}">
                  {{ view.error_message }}
              </div><!-- /error-well -->
            </div><!-- /row -->
          </div><!-- /col -->
        </div><!-- /row -->
        <div class="row graph-height">
            {% block content %}
              {% block chart_controls %}
              {% endblock chart_controls %}
              {% block chart %}
                <div id="chart_0" class="hidden graph-height">
                  <svg class="graph-height"></svg>
                </div>
                <div class="stat statistics_0 row hidden">
                  <div class="well well-sm">
                    <p class="statistics-well_0"></p>
                  </div><!-- /well -->
                </div><!-- /row -->
                <div id="chart_1" class="hidden graph-height">
                  <svg class="graph-height graph-margin"></svg>
                </div>
                <div class="stat statistics_1 row hidden">
                  <div class="well well-sm">
                    <p class="statistics-well_1"></p>
                  </div><!-- /well -->
                </div><!-- /row -->
              {% endblock chart %}
            {% endblock content %}
        </div><!-- /row -->
      </div><!-- /container -->
    {% endblock body %}

    {% block javascript %}
      <div style="visibility: hidden">
        {# Ajax calls need a CSRF token cookie, and this line sends one as a side effect #}
        <!-- {{ csrf_token }} -->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media
        queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="{% static 'html5shiv/3.7.2/html5shiv.min.js' %}"></script>
        <script src="{% static 'respond/1.4.2/respond.min.js' %}"></script>
        <![endif]-->
        <script src="{% static 'jquery/jquery-1.11.3.min.js' %}"></script>
        <script src="{% static 'bootstrap-3.3.5-dist/js/bootstrap.min.js' %}">
        </script>
        <script src="{% static 'bootstrap-extras/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}">
        </script>
        <script src="{% static 'bootstrap-extras/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}">
        </script>
        <script src="{% static 'bootstrap-extras/bootstrap-spinner.js' %}">
        </script>
        <script src="{% static 'ajax/libs/leaflet/0.7.3/leaflet.js' %}"></script>
        <script src="{% static 'd3/d3.min.js' %}"></script>
        <script src="{% static 'nvd3/nv.d3.min.js' %}"></script>
        <script type="text/javascript">
          {% autoescape off %}
          window['startpage'] = {};
          window['map_'] = {};
            {% if view.active == 'map_' %}
              window.map_.dropdown_0 = "{{ view.dropdown_selected }}";
            {% endif %}
          window.startpage.leafletImagesUrl=
                  "{% static 'ajax/libs/leaflet/0.7.3/images/' %}";
          window.active = "{{ view.active }}";
          window.map_.bounds = {{ view.bounds }};
          window.map_.center = {{ view.center }};
          window.startpage.coordsSelected = {{ view.selected_coords }};
          window.spinnersLength = {{ view.spinners | length }};
          var startDate = {{ view.datepicker_start }};
          var endDate = {{ view.datepicker_end }};
          window.startpage.startDate = new Date(startDate[2], startDate[1]-1,
              startDate[0]);
          window.startpage.endDate = new Date(endDate[2], endDate[1]-1,
              endDate[0]);
          {% endautoescape %}
        </script>

        {% block extra_javascript_before %}
        {% endblock extra_javascript_before %}
        <script src="{% static 'freq/js/ajaxsetup.js' %}"></script>
        <script src="{% static 'freq/js/buttons.js' %}"></script>
        <script src="{% static 'freq/js/freq.js' %}"></script>

        {% block extra_javascript %}
        {% endblock extra_javascript %}

      </div>
    {% endblock javascript %}

  </body>
</html>