{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>
      {% block title %}
        {% if view.title %}
          {# Managed properly by the view #}
          {{ view.title }}
        {% else %}
          {# By hand in the template #}
          {% block subtitle %}{% endblock subtitle%}
          {% block sitetitle %}FREQ{% endblock sitetitle%}
        {% endif %}
      {% endblock title %}
    </title>

    {% block css %}
      <link rel="stylesheet"
            href="{% static 'fonts/open-sans/open-sans.css' %}" />
      <link rel="stylesheet"
            href="{% static 'fonts/font-awesome/4.3.0/css/font-awesome.min.css' %}" />
      <link rel="stylesheet"
            href="{% static 'fonts/font-awesome/4.3.0/css/font-awesome.min.css' %}" />
      <link rel="stylesheet"
            href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.min.css' %}" />
      <link rel="stylesheet"
            href="{% static 'bootstrap-extras/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" />
      <link rel="stylesheet"
            href="{% static 'bootstrap-extras/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}" />
      <link rel="stylesheet" href="{% static 'freq/css/freq.css' %}" />
      <link rel="stylesheet" href="{% static 'freq/css/include.css' %}" />
      <link rel="stylesheet"
            href="{% static 'ajax/libs/leaflet/0.7.3/leaflet.css' %}" />

      {% block chart_css %}
        <link rel="stylesheet" href="{% static 'nvd3/nv.d3.min.css' %}">
      {% endblock chart_css %}

      {% block extra_css %}
      {% endblock extra_css %}

    {% endblock css %}

  </head>

  <body>
    {% block header %}
      <header>
        <div id="logo-row" class="navbar">
          <div class="container">
            <div class="row">
              <div class="navbar-header">
                <span class="navbar-brand" id="page-title">
                  {{ view.title }}</span>
              </div>
              <ul class="nav navbar-nav pull-right">
                <li class="{{ view.lizard_active }}">
                  <a href="{% url "lizard_iframe" %}">
                    Global
                    <span class="glyphicon {{ view.lizard_icon_size }}
                    glyphicon-globe">
                    </span>
                  </a>
                </li>
                  <li class="{{ view.map_active }}">
                    <a href="{% url 'map_' %}" >
                      Regional
                      <span class="glyphicon {{ view.map_icon_size }}
                                   glyphicon-map-marker">
                      </span>
                    </a>
                  </li>
                <li class="{{ view.freq_active }}">
                  <a href="{% url 'startpage' %}">
                    Time series analysis
                    <span class="glyphicon {{ view.freq_icon_size }}
                                 glyphicon-scale"> {# glyphicon-map-marker #}
                    </span>
                  </a>
                </li>
                {% if view.logged_in %}
                  <li>
                    <a href="/accounts/logout/" style="margin-top:-10px;">
                      <div>Log out <span class="glyphicon glyphicon-sm glyphicon-off"></span></div>
                      <div style="margin-top:-5px;"><small>{{ view.user }}</small></div>

                    </a>
                  </li>
                  <li class="pull-right">
                    <a href="https://ggmn.lizard.net/import" target="_blank">
                      Import
                      <span class="glyphicon glyphicon-upload">
                      </span>
                    </a>
                  </li>
                  <li class="pull-right {{ view.download_status }}">
                    <a href="{% url "download" %}">
                      {{ view.download_button_text }}
                      <span class="glyphicon glyphicon-download {{ view.download_gliph }}">
                      </span>
                    </a>
                  </li>
                  {% include 'freq/include/dropdown_nav_edit.html' with dropdown=view.nav_dropdown %}
                {% else %}
                  <li>
                    <a href="/accounts/login/">
                      Log in
                      <span class="glyphicon glyphicon-sm glyphicon-off"></span>
                    </a>
                  </li>
                {% endif %}
              </ul>
            </div>
            {% if view.logged_in %}
              <div class="row organisation">
                  <div>{{ view.selected_organisation }}</div>
              </div>
            {% else %}
              <div class="row organisation">
                <div>Public</div>
              </div>
            {% endif %}
          </div>
        </div>
      </header>
      <div id="download-error-well"
         class="well well-sm {{ view.download_show_error }} error-well">
           <div class="container">
             {{ view.download_error_message }}
           </div>
      </div><!-- /error-well -->

      {% block nav %}
        <div class="container">
          <ul class="nav nav-tabs" role="tablist">
            {% for i, menu_title, tooltip, menu_url, menu_activation in view.menu %}
              <li role="presentation" class="{{ menu_activation }}" aria-controls="{{ menu_url }}">
                <a title="{{ tooltip }}"
                   {% if menu_activation == 'disabled' %}
                     href=''
                   {% else %}
                     href="{% url menu_url %}"
                   {% endif %}>
                <span id="tab-number-">{{ i }}</span>
                  {{ menu_title }}
                </a>
              </li>
            {% endfor %}
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            {% for _, _, tooltip, menu_url, menu_activation in view.menu %}
              <div role="tabpanel"
                   class="tab-pane {{ menu_activation }}"
                   id="{{ menu_url }}">
              </div>
            {% endfor %}
          </div>
        </div>
      {% endblock nav %}
      <div class="container-fluid">
        {% block logo %}
            {% spaceless %}
              <a href="/" title='Back to homepage' class="logos pull-right">
                <img class="logo hidden-sm hidden-md hidden-xs"
                     src="{% static 'freq/logo.png' %}"
                     alt="Home" />
                <img class="logo hidden-sm hidden-md hidden-xs"
                     src="{% static 'freq/unesco-ihplogo.jpg' %}"
                     alt="Lizard"
                     title="unesco-ihp"/>
                <img class="logo hidden-sm hidden-md hidden-xs"
                     src="{% static 'freq/WMOlogo.jpg' %}"
                     alt="Lizard"
                     title="WMO"/>
              </a>
            {% endspaceless %}
          {% endblock logo %}
      </div>
    {% endblock header %}
    {% block body %}
      <br>
      <div class="container" id="base-container">
        <div class="row">
          <div class="col-md-8">
            <div class="row" >
              <h2 id="measurement_point">{{ view.measurement_point }}
                  <a
                    class="glyphicon glyphicon-trash pull-right"
                    href="{% url 'restart' %}"></a>
{#                  <a#}
{#                    href="{% url view.active %}?redo=1"#}
{#                    class="glyphicon glyphicon-share-alt pull-right"></a>#}
{#                  <a#}
{#                    href="{% url view.active %}?undo=1"#}
{#                    class="glyphicon glyphicon-share-alt icon-flipped#}
{#                    pull-right"></a>#}
              </h2>
            </div><!-- /row -->
            <div class="row">
              <div class="well explainer">
                {% block well %}{% endblock well %}
              </div><!-- /well -->
            </div><!-- /row -->
          </div><!-- /col -->
          <div class="col-md-4">
            <div class="row map-row">
              <div id="map" class="pull-down"></div>
              <div id="error-well"
                   class="well well-sm {{ view.show_error }} error-well">
                  {{ view.error_message }}
              </div><!-- /error-well -->
                <div class="dropdown" style="width:100%;">
                  <button class="btn btn-default dropdown-toggle"
                          type="button" id="dropdownMenu1"
                          data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="true" style="width:100%;
                          text-align:left;">
                    Select timeseries...
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    {% for option_name, option_uuid, option_start, option_end in view.timeseries_selection %}
                      <li>
                        <a href="{% url 'timeseries_by_uuid' uuid=option_uuid %}?name={{ option_name }}&start={{ option_start }}&end={{ option_end }}">
                          {{ option_name }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
            </div><!-- /row -->
          </div><!-- /col -->
        </div><!-- /row -->
        <div class="row graph-height">
            {% block content %}
              <div class="row">
              <div class="col-md-8">
                <div id="graph-error-well"
                     class="well well-sm hidden error-well"></div>
              </div>
              </div>
              {% block chart_controls %}
              {% endblock chart_controls %}
              {% block chart %}
                <div id="chart_0" class="hidden graph-height">
                  <svg class="graph-height"></svg>
                </div>
                <div class="stat statistics_0 row hidden">
                  <div class="well well-sm">
                    <p class="statistics-well_0"></p>
                  </div><!-- /well -->
                </div><!-- /row -->
                <div id="chart_1" class="hidden graph-height">
                  <svg class="graph-height graph-margin"></svg>
                </div>
                <div class="stat statistics_1 row hidden">
                  <div class="well well-sm">
                    <p class="statistics-well_1"></p>
                  </div><!-- /well -->
                </div><!-- /row -->
              {% endblock chart %}
            {% endblock content %}
        </div><!-- /row -->
          <div id="wait-spinner" class="hidden">
            <i class="fa fa-cog fa-spin spin-dark"></i>
            <i class="fa fa-cog fa-spin spin-light"></i>
          </div>
      </div><!-- /container -->
    {% endblock body %}

    {% block javascript %}
      <div style="visibility: hidden">
        {# Ajax calls need a CSRF token cookie, and this line sends one as a side effect #}
        <!-- {{ csrf_token }} -->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media
        queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="{% static 'html5shiv/3.7.2/html5shiv.min.js' %}"></script>
        <script src="{% static 'respond/1.4.2/respond.min.js' %}"></script>
        <![endif]-->
        <script src="{% static 'jquery/jquery-1.11.3.min.js' %}"></script>
        <script src="{% static 'bootstrap-3.3.5-dist/js/bootstrap.min.js' %}">
        </script>
        <script
            src="{% static 'bootstrap-extras/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}">
        </script>
        <script
            src="{% static 'bootstrap-extras/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}">
        </script>
        <script src="{% static 'bootstrap-extras/bootstrap-spinner.js' %}">
        </script>
        <script src="{% static 'ajax/libs/leaflet/0.7.3/leaflet.js' %}">

        </script>
        <script src="{% static 'd3/d3.min.js' %}"></script>
        <script src="{% static 'nvd3/nv.d3.min.js' %}"></script>
        <script type="text/javascript">
          {% autoescape off %}
            window['startpage'] = {};
            window['map_'] = {};
            window['chart'] = {};
              {% if view.active == 'map_' %}
                window.map_.dropdown_0 = "{{ view.dropdown_selected }}";
              {% endif %}
            window.chart.reference = "{{ view.reference }}";
            window.active = "{{ view.active }}";
            window.map_.bounds = {{ view.bounds }};
            window.map_.center = {{ view.center }};
            window.startpage.coordsSelected = {{ view.selected_coords }};
            window.spinnersLength = {{ view.spinners | length }};
            var startDate = {{ view.datepicker_start }};
            var endDate = {{ view.datepicker_end }};
            window.startpage.startDate = new Date(startDate[2], startDate[1]-1,
                startDate[0]);
            window.startpage.noDataText = "{{ view.no_data_text }}";
            window.startpage.endDate = new Date(endDate[2], endDate[1]-1,
                endDate[0]);
          {% endautoescape %}
          {% if view.no_debug %}
            {% autoescape off %}
              var _gauges = _gauges || [];
              (function() {
               var t   = document.createElement('script');
               t.type  = 'text/javascript';
               t.async = true;
               t.id    = 'gauges-tracker';
               t.setAttribute('data-site-id', '56ded50dbb922a528c003437');
               t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
               t.src = 'https://d36ee2fcip1434.cloudfront.net/track.js';
               var s = document.getElementsByTagName('script')[0];
               s.parentNode.insertBefore(t, s);
              })();
            {% endautoescape %}
          {% endif %}
        </script>

        {% block extra_javascript_before %}
        {% endblock extra_javascript_before %}
        <script src="{% static 'freq/js/ajaxsetup.js' %}"></script>
        <script src="{% static 'freq/js/buttons.js' %}"></script>
        <script src="{% static 'freq/js/freq.js' %}"></script>

        {% block extra_javascript %}
        {% endblock extra_javascript %}

      </div>
    {% endblock javascript %}

  </body>
</html>