{% extends "freq/base.html" %}
{% load static %}

{% block body %}
  <br>
  <div class="container full-page-map">
    <div class="row">
      {% include 'freq/include/dropdown.html' with dropdown=view.dropdowns %}
      {% include 'freq/include/datepicker.html' %}
      <div class="col-md-6">
        <h5>Legend</h5>
        <div id="legend" onselectstart="return false"></div>
      </div>
    </div>
    <br>
    <div class="row full-page-map">
      <div id="error-well" class="well well-sm hidden">
        {{ error_message }}
      </div>
      <div class="colorpick-min pull-right">
      </div>
      <div id="map" class="full-page-map"></div>

      <div id="wait-spinner" class="hidden">
        <i class="fa fa-cog fa-spin spin-dark"></i>
        <i class="fa fa-cog fa-spin spin-light"></i>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <h2 id="measurement_point" class="hidden"></h2>
        <div id="chart_0" class="graph-height hidden">
          <svg class="graph-height"></svg>
          <svg class="graph-height"></svg>
        </div>
      </div>
      <div class="col-md-3">
        <div id="metadata" class="panel hidden">
          <div class="panel panel-heading">
            Metadata
          </div>
          <div class="panel panel-body">
            <p><h5>Organisation: </h5><span id="metadata-organisation">-</span></p>
            <p><h5>Lithology: </h5><span id="metadata-lithology">-</span></p>
            <p><h5>Surface level: </h5><span id="metadata-surface-level">-</span></p>
            <p><h5>Top level: </h5><span id="metadata-top-level">-</span></p>
            <p><h5>Bottom level: </h5><span id="metadata-bottom-level">-</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}

{% block extra_css %}
  <link rel="stylesheet" href=
      "{{ STATIC_URL }}d3--colorpicker/colorpicker.css" />
  <link rel="stylesheet" href=
      "{{ STATIC_URL }}jquery/jquery-ui-1.11.4.custom.min.css" />
{% endblock extra_css %}

{% block extra_javascript_before %}
  <script
    src="{{ STATIC_URL }}jquery/jquery-ui-1.11.4.custom.min.js">
  </script>
  <script src="{{ STATIC_URL }}d3--colorpicker/colorPicker.js"></script>
  <script type="text/javascript">
    {% autoescape off %}
      window.map_.organisationWMSLayers ={{ view.interpolation_layers }};
    {% endautoescape %}
  </script>
{% endblock extra_javascript_before %}

{% block extra_javascript %}
  <script src="{{ STATIC_URL }}freq/js/map.js"></script>
{% endblock extra_javascript %}
