{% extends "freq/base.html" %}

{% block body %}
  </br>

  <div class="container full-page-map">
    <div class="row">
      <div class="col-sm-2">
        <div class="btn-group btn-group full-width" role="group">
          <button type="button" class="btn btn-default
          eighty-width" id="current-statistic">
            {{ view.active_statistic }}</button>
          <button type="button"
                  class="btn btn-default dropdown-toggle twenty-width"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
            <span class="caret"></span>
          </button>

          <ul class="dropdown-menu full-width">
            {% for statistic in view.statistics %}
              <li><a href="#" id="dropdown-{{ statistic }}"
                  >{{ statistic }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="input-daterange input-group" id="datepicker">
          <input type="text"
                 class="input-sm form-control"
                 name="start"
                 value="{{ view.startdate }}"/>
          <span class="input-group-addon">to</span>
          <input type="text"
                 class="input-sm form-control"
                 name="end"
                 value="{{ view.enddate }}"/>
        </div>
      </div>

      <div class="col-sm-6">
        <div id="legend" onselectstart="return false"></div>
      </div>
    </div>
  </br>

    <div class="row full-page-map">
      <div id="error-well" class="well well-sm hidden">
        {{ error_message }}
      </div>
      <div class="colorpick-min pull-right">
      </div>
      <div id="map" class="full-page-map"></div>
    </div>
  </div>

{% endblock body %}

{% block extra_css %}
  <link rel="stylesheet" href=
      "{{ STATIC_URL }}d3-colorpicker/colorpicker.css" />
{% endblock extra_css %}

{% block extra_javascript_before %}
  <script src="{{ STATIC_URL }}d3-colorpicker/colorPicker.js"></script>
  <script src="{{ STATIC_URL }}freq/js/map.js"></script>
{% endblock extra_javascript_before %}

{% block extra_javascript %}
{% endblock extra_javascript %}