{% extends "freq/base.html" %}
{% block well %}
  <p>
    Groundwater levels often exhibit certain periodicity in fluctuations due to
    seasonally varying inputs (recharge/abstractions) into the groundwater
    system. A periodic component of groundwater time series can be estimated by
    harmonic analysis. The annual periodic fluctuation is often the most
    dominant one, but other fluctuation can also be present by varying
    abstraction rates or other seasonal fluctuations.
  </p>
  <p>
    Number of significant periods of a time series can be estimated from a
    cumulative periodogram.
  </p>
  <p>
    Select the number of periods, which will be fitted with the groundwater
    level time series.
  </p>
  <p>
    <strong>
      <span class="glyphicon glyphicon-info-sign"></span>
        The periodic fluctuations are subtracted from the time series to
        continue with the autoregressive model.
    </strong>
  </p>
{% endblock well %}
{% block chart_controls %}
    <div class="col-sm-2">
    <h5>Number of harmonics</h5>
    <div class="input-group">
      <span class="input-group-btn">
        <button type="button"
                class="btn btn-default"
                data-value="decrease"
                data-target="#spinner"
                data-toggle="spinner">
          <span class="glyphicon glyphicon-minus"></span>
        </button>
      </span>
      <input type="text"
             title="Number of harmonics to be removed from the series"
             data-ride="spinner"
             id="spinner"
             class="form-control input-number"
             value="0"
             data-min="0"
             data-max="{{ view.max_harmonics }}"
             data-step="1"
             data-precision="0">
      <span class="input-group-btn">
        <button type="button"
                class="btn btn-default"
                data-value="increase"
                data-target="#spinner"
                data-toggle="spinner">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </span>
    </div> <!-- /input-group -->
  </div> <!-- /col-sm-2 -->
</div> <!-- /row -->
{% endblock chart_controls %}