{% extends "freq/base.html" %}
{% block well %}
  <p>
    A trend shows a long-term change in the mean level. Both linear and step
    trend are commonly observed in groundwater time series. Linear trend should
    be applied when there is a gradual increase or decrease of groundwater
    levels where a step trend should be applied when there is a sudden increase
    or decrease in groundwater level.
  </p>
  <p>
    <strong>
      <span class="glyphicon glyphicon-info-sign"></span>
        The trend is removed from the time series in order to continue with
        determination of periodic fluctuations and autoregressive model.
    </strong>
  </p>
{% endblock well %}
{% block chart_controls %}
<div class="row">
  {% include 'freq/include/dropdown.html' with dropdown=view.dropdowns %}
  {% include 'freq/include/spinner.html' with spinner=view.spinners spinner_value=view.spinner_value %}
  {% include 'freq/include/datepicker.html' %}
</div> <!-- /row -->
{% endblock chart_controls %}