/* colors {
    turquoise: #1abc9c;
    green-sea: #16a085;
    emerald: #2ecc71;
    nephritis: #27ae60;
    peter-river: #3498db;
    belize-hole: #2980b9;
    amethyst: #9b59b6;
    wisteria: #8e44ad;
    wet-asphalt: #34495e;
    midnight-blue: #2c3e50;
    sun-flower: #f1c40f;
    orange: #f39c12;
    carrot: #e67e22;
    pumpkin: #d35400;
    alizarin: #e74c3c;
    pomegranate: #c0392b;
    clouds: #ecf0f1;
    darkclouds: #ced0d0;
    silver: #bdc3c7;
    concrete: #95a5a6;
    asbestos: #7f8c8d;
}
*/
/** {*/
  /*border-radius: 0 !important;*/
/*}*/

#page-title {
  color: #fff;
  font-size: 1.5em;
  font-family: 'Open Sans';
}
#logo-row {
  background-color:#1abc9c;
  border-radius: 0;
}
#logo {
  margin: -8px 20px 0 0;
}
ul.navbar-nav > li > a {
    color:#fff ;
}
ul.navbar-nav > li > a:hover {
  background-color: #16a085;
}
ul.nav-tabs > li > a {
    color: #1abc9c;
}
ul.nav-tabs > li > a:hover {
    background-color: #e7ffe9;
    border: 0;
    border-bottom: 2px solid #1abc9c;
}
ul.nav-tabs > li.disabled > a {
    color: #bdc3c7;
}
ul.nav-tabs > li.disabled > a:hover {
        border-bottom: 2px solid #bdc3c7;
}
#measurement_point {
  color: #1abc9c;
  margin-top:10px;
}
.well {
    background-color: #e7ffe9;
    border: 0;
}
#error-well {
   background-color: #fff8af;
   color: #d35400;
}
strong {
    color: #16a085;
}
.body-container {
    display: table;
    height: 75%;
}
.side-container {
  float: none;
  display: table-cell;
  height:0;
}

#map {
    height: 92%;

}
.full-page-map {
    height: 90%;
}
html, body {
    height: 100%;
}
.graph-height {
    height: 80%;
}
.icon-flipped {
transform: scaleX(-1);
-moz-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
-ms-transform: scaleX(-1);
}
h2 > a.glyphicon {
    color: #bdc3c7;
    margin-left: 5px;
    font-size: 0.8em;
}
h2 > a.glyphicon:hover {
    color: #1abc9c;
    text-decoration: none;
}
