/* colors {
    turquoise: #1abc9c;
    green-sea: #16a085;
    emerald: #2ecc71;
    nephritis: #27ae60;
    peter-river: #3498db;
    belize-hole: #2980b9;
    amethyst: #9b59b6;
    wisteria: #8e44ad;
    wet-asphalt: #34495e;
    midnight-blue: #2c3e50;
    sun-flower: #f1c40f;
    orange: #f39c12;
    carrot: #e67e22;
    pumpkin: #d35400;
    alizarin: #e74c3c;
    pomegranate: #c0392b;
    clouds: #ecf0f1;
    darkclouds: #ced0d0;
    silver: #bdc3c7;
    concrete: #95a5a6;
    asbestos: #7f8c8d;
}
*/
/** {*/
  /*border-radius: 0 !important;*/
/*}*/

#page-title {
  color: #fff;
  font-size: 1.5em;
  font-family: 'Open Sans';
}
#logo-row {
  background-color:#1abc9c;
  border-radius: 0;
}
.logo {
  margin: -8px 20px 0 0;
  max-height: 50px;
}
ul.navbar-nav > li > a {
    color:#fff ;
}
ul.navbar-nav > li.active {
  background-color: #16a085;
}
.open > a:focus {
  background-color: #16a085!important;
}
ul.navbar-nav > li > a:hover {
  background-color: #16a085;
}
ul.nav-tabs > li > a {
    color: #1abc9c;
}
ul.nav-tabs > li > a:hover {
    background-color: #e7ffe9;
    border: 0;
    border-bottom: 2px solid #1abc9c;
}
ul.nav-tabs > li.disabled > a {
    color: #bdc3c7;
}
ul.nav-tabs > li.disabled > a:hover {
        border-bottom: 2px solid #bdc3c7;
}
#measurement_point {
  color: #1abc9c;
  margin-top:10px;
}
.well {
    background-color: #e7ffe9;
    border: 0;
}
.error-well {
   background-color: #fff8af;
   color: #d35400;
}
strong {
    color: #16a085;
}

.map-row {
    margin: 0 15px 0 25px;
}
#map {
    height: 92%;
    min-height: 200px;
}
.full-width {
    width:100%;
}
.eighty-width {
    width:80%;
}
.twenty-width {
    width:20%;
}
.full-page-map {
    height: 90%;
}
html, body {
    height: 100%;
}
.stat {
    margin: 0 5px 0 0;
}
.graph-height {
    height: 250px;
    margin-left: -5px;
}
.form-control .input-number {
    min-width: 50px;
}
.icon-flipped {
transform: scaleX(-1);
-moz-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
-ms-transform: scaleX(-1);
}
h2 > a.glyphicon {
    color: #bdc3c7;
    margin-left: 5px;
    font-size: 0.8em;
}
h2 > a.glyphicon:hover {
    color: #1abc9c;
    text-decoration: none;
}

.axis text {
    font: 10px sans-serif;
}

.axis line, .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#legend {
    margin-top: -5px;
    margin-bottom: 10px;
}

.axis text {
   fill: #555;
}
.tick line {
   stroke: #fff;
}
.axis > path {
   stroke: #fff;
}

#tab-number- {
    font-weight: bold;
}

#tab-number-active {
    color: #1abc9c;
    /*background-color:#e7ffe9;*/
    /*background-image:*/
    /*linear-gradient(*/
      /*to right,*/
      /*#1abc9c,*/
      /*#fff 40%*/
    /*);*/
    font-weight: bold;
    /*padding: 12px 5px 13px 12px;*/
    /*margin: 0 -5px 0 -15px;*/
    /*border-radius: 3px 0 0 0;*/
}

#tab-number-disabled {
    color: #e7e7e7;
}

h5 {
    color: #16a085;
}

.glyphicon-sm {
    font-size: 0.8em;
}

.fa-spin {
    position: absolute;
}

.spin-light {
    font-size: 5em;
    opacity: 0.7;
    color: #fff;
    z-index: 1501;
}
.spin-dark {
    color: #16a085;
    opacity: 0.7;
    font-size: 5.3em;
    z-index: 1500;
}
.navbar-brand {
    margin-top: -7pt;
}
.organisation {
    position: absolute;
    color: #e7ffe9;
    margin: -17pt 0 0 -10pt;
}
#rescale-button:hover {
    background: #16a085;
}
div.leaflet-control-layers {
    background: #1abc9c;
    color: #fff;
}
#rescale-button {
    background: #1abc9c;
    width: 36px;
    height: 36px;
    box-shadow: 0 0 5px #777;
}
.glyphicon-resize-full {
    font-size: 2em;
    color: #fff;
    margin-left: -5px;
}

.leaflet-bar a {
    color: #fff !important;
    background: #1abc9c !important;
}

.leaflet-bar a:hover {
    background: #16a085!important;
}
#dropdown_option {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 400px;
}
.lizard {
    width: 100%;
    border: 0;
}
.panel-heading {
    background-color: #1abc9c !important;
    color: #fff !important;
    border-radius: 0 !important;
    border: 4px solid #1abc9c !important;
}
.opacity_slider_control .ui-slider-range {
    background-image: none;
    background-color: #16a085;
    width: 200px;
}